{namespace lc=Slub\LisztCommon\ViewHelpers}
<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:variable name="searchParamsAction" value="{filter.selected ? 'removeFilter' : 'addFilter'}" />
<li class="{f:if(condition: '{filter.hidden}', then: 'hidden', else: '')}">
    <f:if condition="{filter.key}">
        <f:variable name="linkArguments">{lc:searchParams(action: searchParamsAction, searchParamsArray: searchParamsFromFirstPage, key: key, value: filter.key)}</f:variable>

        <a href="{lc:searchUri(searchParams: linkArguments.searchParams)}"
           title="{f:if(condition: '{filter.selected}', then: '{f:translate(key:\'filter_remove_item\')}', else: '{f:translate(key:\'filter_add_item\')}')}"
           class="filter-item {f:if(condition: '{filter.selected}', then: 'selected', else: '')} {f:if(condition: '{filter.hidden}', then: 'hidden', else: '')}">
            <span class="filter-item-label">{f:translate(key: '{languageFilePath}:{key}_{filter.key}', default: '{filter.key}')}</span>
            <span class="filter-item-count">{filter.doc_count}</span>
        </a>
    </f:if>
</li>
</html>
