{namespace lc=Slub\LisztCommon\ViewHelpers}
<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<div class="filter-block frame">
    <h4 class="">{key}</h4>
    <f:variable name="searchParamsFilterKey">f_{key}</f:variable>
    <f:variable name="paramsRemovePage">{lc:searchParams(action: 'remove', searchParamsArray: searchParams, key: 'page')}</f:variable>
    <f:variable name="searchParamsFromFirstPage">{paramsRemovePage.searchParams}</f:variable>
    <ul>
        <f:for each="{filterGroup.buckets}" as="filter">
            <li>
                <f:if condition="{filter.key} && {searchParams.{searchParamsFilterKey}} == {filter.key}">
                    <f:then>
                        <f:link.action action="index" controller="Search" pluginName="SearchListing" arguments="{lc:searchParams(action: 'remove', searchParamsArray: searchParamsFromFirstPage, key: searchParamsFilterKey)}" class="filter-item selected">
                            <span class="filter-item-label">{filter.key}</span>
                            <span class="filter-item-count">{filter.doc_count}</span>
                        </f:link.action>
                    </f:then>
                    <f:else if="{filter.key}">
                        <f:link.action action="index" controller="Search" pluginName="SearchListing" arguments="{lc:searchParams(action: 'add', searchParamsArray: searchParamsFromFirstPage, key: searchParamsFilterKey, value: filter.key)}" class="filter-item">
                            <span class="filter-item-label">{filter.key}</span>
                            <span class="filter-item-count">{filter.doc_count}</span>
                        </f:link.action>
                    </f:else>
                </f:if>
            </li>

            <f:comment> <!--  old versions of filter (form input), ToDo: remove later if not needed-->
                <li><f:link.action action="index" controller="Search" pluginName="SearchListing" arguments="{searchParams: {f_itemType: filter.key}}" class="form-checkbox"><input class="form-check-input" type="checkbox" id="{filter.key}" value="{filter.key}"><label class="form-check-label" for="{filter.key}">{filter.key}</label><span class="count">{filter.doc_count}</span></f:link.action></li>
                <li><a href="{f:uri.action(controller: 'Search', action: 'index', extensionName: 'liszt_common', pluginName: 'SearchListing', pageUid: '18')}" class="form-checkbox"><input class="form-check-input" type="checkbox" id="{filter.key}" value="{filter.key}"><label class="form-check-label" for="{filter.key}">{filter.key}</label></a><span class="count">{filter.doc_count}</span></li>
                <li><span class="form-checkbox"><input class="form-check-input" type="checkbox" id="{filter.key}" value="{filter.key}"><label class="form-check-label" for="{filter.key}">{filter.key}</label></span><span class="count">{filter.doc_count}</span></li>
            </f:comment>

        </f:for>
    </ul>
</div>

</html>
