{namespace lc=Slub\LisztCommon\ViewHelpers}
<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<nav class="searchresults-pagination" aria-label="{f:translate(key: 'searchResults_pagination_label', extensionName: 'liszt_common')}">
    <ul>
        <f:for each="{pagination}" as="page">
            <li>
                <f:if condition="{page} == {currentString}">
                    <f:then>
                        <f:link.action action="index" controller="Search" pluginName="SearchListing" arguments="{lc:searchParams(action: 'add', searchParamsArray: searchParams, key: 'searchParamsPage', value: page)}" additionalAttributes="{aria-current:'true'}" class="current">
                            {f:if(condition: searchParams.searchParamsPage, then: searchParams.searchParamsPage, else: '1')}
                        </f:link.action>
                    </f:then>
                    <f:else>
                        <f:link.action action="index" controller="Search" title="{f:translate(key: 'searchResults_pagination_gotoPage',  arguments: {0: page}, extensionName: 'liszt_common')}" pluginName="SearchListing" arguments="{lc:searchParams(action: 'add', searchParamsArray: searchParams, key: 'searchParamsPage', value: page)}" class="">
                            {page}
                        </f:link.action>
                    </f:else>
                </f:if>
            </li>
        </f:for>
    </ul>
</nav>

</html>
