{namespace lc=Slub\LisztCommon\ViewHelpers}
<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<nav class="searchresults-pagination" aria-label="{f:translate(key: 'searchResults_pagination_label', extensionName: 'liszt_common')}">
    <ul>
        <f:for each="{pagination}" as="page">
            <li class="{page.class}">
                <f:if condition="{page.page} == {dots}">
                    <f:then>
                        <span class="{page.class}">
                             {page.page}
                        </span>
                    </f:then>
                    <f:else>
                        <f:variable name="linkArguments">{lc:searchParams(action: 'add', searchParamsArray: searchParams, key: 'page', value: page.page)}</f:variable>
                        <f:variable name="isCurrentPage" value="{f:if(condition: '{page.class} == {currentString}', then: 1, else: 0)}"/>
                        <f:if condition="{isCurrentPage}">
                            <f:then>
                                <a href="{lc:searchUri(searchParams: linkArguments.searchParams)}"
                                   aria-current="page"
                                   aria-label="{f:translate(key: 'searchResults_pagination_currentPage', arguments: {0: page.page}, extensionName: 'liszt_common')}"
                                >
                                    {page.page}
                                </a>
                            </f:then>
                            <f:else>
                                <a href="{lc:searchUri(searchParams: linkArguments.searchParams)}"
                                   aria-label="{f:translate(key: 'searchResults_pagination_gotoPage', arguments: {0: page.page}, extensionName: 'liszt_common')}"
                                >
                                    {page.page}
                                </a>
                            </f:else>
                        </f:if>

                    </f:else>
                </f:if>
            </li>
        </f:for>
    </ul>
</nav>

</html>
