{namespace lw=Slub\LisztCommon\ViewHelpers}
<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">


<f:comment>ToDo: viewHelper for SearchParams</f:comment>
<section id="searchbar" class="searchbar">
    <div class="container-xl">

        <f:form name="searchBar" controller="Search" action="index" method="get" extensionName="liszt_common" class="">
            <div class="input-group">

                <f:form.textfield type="text" name="searchParams[searchText]" value="{searchParams.tx_liszt_common_searchlisting.searchParams.searchText}" class="" aria="{label:'Text input with dropdown button'}" placeholder="" />
                <f:form.button class="btn btn-primary" id="button-searchBar">{f:translate(key: 'searchButtonLabel', extensionName: 'liszt_common')}</f:form.button>
            </div>
        </f:form>


    </div>
</section>
</html>
