
{namespace lc=Slub\LisztCommon\ViewHelpers}
<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:i="http://typo3.org/ns/Quellenform/Iconpack/ViewHelpers"
    data-namespace-typo3-fluid="true">
<f:variable name="languageFilePath">LLL:EXT:{settings.extensionName}/Resources/Private/Language/{settings.languageFile}.xlf</f:variable>
<f:render partial="DetailBreadcrumb" arguments="{_all}" />

<main role="main" id="page-content">
    <div class="container-xl sidebar-left grid grid-3col-md searchdetail">


<aside class="sidebar">
    <div class="frame">
        <div class="searchdetail-item-icon"><i:icon iconfig="{lc:ItemTypeIconName(iconPackKey: 'lziconsr', itemType: searchResult._source.itemType)}" preferredRenderTypes="svgSprite" additionalAttributes="{aria-hidden:'true'}" /></div>
    </div>
</aside>

<div class="content grid-colspan-md-2">
    <div class="frame">


        <p>
            <strong>Generische Detailseite</strong>
            Es ist kein Pfad für die Detailseite in setup.typoscript der Extension eingetragen.
        </p>



    </div>
</div>
</div>
</main>
