
{namespace lc=Slub\LisztCommon\ViewHelpers}
<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:i="http://typo3.org/ns/Quellenform/Iconpack/ViewHelpers"
    data-namespace-typo3-fluid="true">
<f:variable name="languageFilePath">LLL:EXT:{settings.entityTypes.1.extensionName}/Resources/Private/Language/{settings.entityTypes.1.languageFile}.xlf</f:variable>

<div class="searchresults-info frame">
info


</div>


<aside class="sidebar">
   aside
</aside>

<div class="content grid-colspan-lg-3 grid-colspan-md-2">
    <div class="frame">
content
    </div>
</div>
