<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<div class="page-header-title page-header-title-detailpage">
    <f:if condition="{searchResult._source.tx_lisztcommon_header}">
        <p class="page-header-subtitle"  style="view-transition-name: detail-sub-{searchResult._id};">Generischer Details Header</p>
    </f:if>
    <h1 style="view-transition-name: detail-headline-{searchResult._id};">
        <f:format.nl2br>Kein Template "DetailPageHeader" in Extension vorhanden</f:format.nl2br>
    </h1>
</div>

</html>
