
{namespace lc=Slub\LisztCommon\ViewHelpers}
<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:i="http://typo3.org/ns/Quellenform/Iconpack/ViewHelpers"
    data-namespace-typo3-fluid="true">
<f:variable name="languageFilePath">LLL:EXT:{settings.entityTypes.1.extensionName}/Resources/Private/Language/{settings.entityTypes.1.languageFile}.xlf</f:variable>


<div class="searchresults-info frame">



</div>


<aside class="sidebar">
   aside
</aside>

<div class="content grid-colspan-lg-3 grid-colspan-md-2">
    <div class="frame">
        <p>
            <strong>itemType:</strong> {searchResult._source.itemType}
        </p>
        <p>
            <strong>Title:</strong> {searchResult._source.title}
        </p>
        <p>
            <strong>BookTitle:</strong> {searchResult._source.bookTitle}
        </p>
        <p>
            <strong>University:</strong> {searchResult._source.university}
        </p>
        <p>
            <strong>journalAbbreviation:</strong> {searchResult._source.journalAbbreviation}
        </p>
        <p>
            <strong>Series:</strong> {searchResult._source.series}
        </p>
        <p>
            <strong>publicationTitle:</strong> {searchResult._source.publicationTitle}
        </p>
        <p>
            <strong>Volume:</strong> {searchResult._source.volume}
        </p>
        <p>
            <strong>Issue:</strong> {searchResult._source.issue}
        </p>
        <p>
            <strong>Place:</strong> {searchResult._source.place}
        </p>
        <p>
            <strong>Date:</strong> {searchResult._source.date}
        </p>
        <p>
            <strong>Pages:</strong> {searchResult._source.pages}
        </p>
        <p>
            <strong>Language:</strong> {searchResult._source.language}
        </p>
        <p>
            <strong>ShortTitle:</strong> {searchResult._source.shortTitle}
        </p>
        <p>
            <strong>Url:</strong> {searchResult._source.url}
        </p>
        <p>
            <strong>archiveLocation:</strong> {searchResult._source.archiveLocation}
        </p>

        <strong>Creators:</strong>
        <f:if condition="{searchResult._source.creators}">
            <f:then>
            <ul>
                <f:for each="{searchResult._source.creators}" as="creator">
                    <li>
                        <f:if condition="{creator.firstName}">
                            {creator.firstName}
                        </f:if>
                        <f:if condition="{creator.lastName}">
                            {creator.lastName}
                        </f:if>
                        <f:if condition="{creator.creatorType}">
                            (<span>{creator.creatorType}</span>)
                        </f:if>
                    </li>
                </f:for>
            </ul>
            </f:then>
            <f:else>
                <p>Keine Creators vorhanden.</p>
            </f:else>
        </f:if>


        <strong>collections:</strong>
        <f:if condition="{searchResult._source.collections}">
            <f:then>
                <ul>
                    <f:for each="{searchResult._source.collections}" as="collection">
                        <li>
                                {collection}
                        </li>
                    </f:for>
                </ul>
            </f:then>
            <f:else>
                <p>Keine collections vorhanden.</p>
            </f:else>
        </f:if>

        <strong>relations:</strong>
        <f:if condition="{searchResult._source.relations}">
            <f:then>
                <ul>
                    <f:for each="{searchResult._source.relations}" as="relation" key="index" >
                        <li>
                            {index}: {relation}
                        </li>
                    </f:for>
                </ul>
            </f:then>
            <f:else>
                <p>Keine relations vorhanden.</p>
            </f:else>
        </f:if>

    </div>
</div>
