
{namespace lc=Slub\LisztCommon\ViewHelpers}
<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:i="http://typo3.org/ns/Quellenform/Iconpack/ViewHelpers"
    data-namespace-typo3-fluid="true">

<f:debug>{_all}</f:debug>
<div class="searchresults-info frame">
    <div class="searchresults-info-total">
    <output class="searchresults-total-items">{totalItems} {f:translate(key: 'searchResults_hits_label', extensionName: 'liszt_common')}</output>
    <button class="filter-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#filter-container" aria-controls="filter-container">
        {f:translate(key: 'filter_container_label', extensionName: 'liszt_common')}
    </button>
    </div>


    <f:if condition="{searchParams.filter}">
        <div class="searchresults-filtertags" aria-label="{f:translate(key: 'searchResults_params_label', extensionName: 'liszt_common')}" role="navigation">
            <f:for each="{searchParams.filter}" key="key" as="filterParam">
                <f:for each="{filterParam}" key="innerKey" as="value">
                <span class="searchresults-filtertags-tag {key} filter-tag-value-{value}">
                    <span>{innerKey}</span>
                    <f:link.action action="index" controller="Search" pluginName="SearchListing"
                                   arguments="{lc:searchParams(action: 'removeFilter', searchParamsArray: searchParams, key: key, value: innerKey)}"
                                   additionalAttributes="{type:'button'}"
                                   class="tag-cross">
                        <span class="visually-hidden">{f:translate(key: 'searchResults_params_remove_label', arguments: {0: innerKey}, extensionName: 'liszt_common')}</span>
                        <svg aria-hidden="true" stroke="currentColor" fill="none" viewBox="0 0 8 8">
                            <path stroke-linecap="round" stroke-width="1" d="M1 1l6 6m0-6L1 7"></path>
                        </svg>
                    </f:link.action>
                </span>
                </f:for>
            </f:for>
        </div>
    </f:if>
</div>


<aside class="sidebar">
    <nav class="filter-container offcanvas offcanvas-end" id="filter-container" aria-label="{f:translate(key: 'filter_container_label', extensionName: 'liszt_common')}" >
        <div class="offcanvas-header">
            <h5 class="offcanvas-title">{f:translate(key: 'filter_container_label', extensionName: 'liszt_common')}</h5>
            <button type="button" class="btn-close " data-bs-dismiss="offcanvas" aria-label="{f:translate(key: 'filter_container_close', extensionName: 'liszt_common')}">
                <i:icon iconfig="lzicon,close" preferredRenderTypes="svgSprite" additionalAttributes="{aria-hidden:'true'}" />
            </button>
        </div>
        <div class="offcanvas-body">
        <f:for each="{searchResults.aggregations}" key="key" as="filterGroup">
            <f:if condition="{filterGroup.buckets}">
                <f:render partial="FilterBlock" arguments="{key: key, filterGroup: filterGroup, searchParams: searchParams}" />
            </f:if>
            <f:if condition="{filterGroup.names}">
                <f:render partial="FilterBlock" arguments="{key: key, filterGroup: filterGroup.names, searchParams: searchParams}" />
            </f:if>
        </f:for>
        </div>
    </nav>
</aside>

<div class="content grid-colspan-lg-3 grid-colspan-md-2">
    <div class="frame">
    <f:for each="{searchResults.hits.hits}" as="hit">
        <article class="searchresults-item ">
            <header>
                <div class="searchresults-item-label">
                    {hit._source.tx_lisztcommon_header}
                </div>
                <div class="searchresults-item-title">
                <div class="searchresults-item-icon"><i:icon iconfig="{lc:ItemTypeIconName(iconPackKey: 'lziconsr', itemType: hit._source.itemType)}" preferredRenderTypes="svgSprite" additionalAttributes="{aria-hidden:'true'}" /></div>
                <h3 >
                    {hit._source.tx_lisztcommon_body}
                </h3>
                </div>
            </header>
            <div class="searchresults-item-details">
                {hit._source.tx_lisztcommon_footer}
            </div>
        </article>
    </f:for>
    <f:render partial="Pagination" arguments="{pagination: pagination, searchParams: searchParams, currentString: currentString, dots: dots}" />
    </div>
</div>
