{namespace lc=Slub\LisztCommon\ViewHelpers}
<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:i="http://typo3.org/ns/Quellenform/Iconpack/ViewHelpers" xmlns:
    data-namespace-typo3-fluid="true">
<f:variable name="languageFilePath">LLL:EXT:{settings.entityTypes.1.extensionName}/Resources/Private/Language/{settings.entityTypes.1.languageFile}.xlf</f:variable>
<f:variable name="paramsRemovePage">{lc:searchParams(action: 'remove', searchParamsArray: searchParams, key: 'page')}</f:variable>
<f:variable name="searchParamsFromFirstPage">{paramsRemovePage.searchParams}</f:variable>

<f:if condition="{ElasticSearchServiceError} != ''">
<f:then>
    <div class="content grid-colspan-lg-3 grid-colspan-md-2">
        <div class="frame">
            <div class="alert" role="alert">
                {ElasticSearchServiceError}
            </div>
        </div>
    </div>
</f:then>
<f:else>
<div class="searchresults-info frame">
    <output class="searchresults-total-items">{totalItems} {f:translate(key: 'searchResults_hits_label', extensionName: 'liszt_common')}</output>

    <div class="searchresults-info-buttons">

        <div class="dropdown-button searchresults-dopdown-sort">
            <button class="btn dropdown-button-toggle " type="button" data-bs-toggle="dropdown" aria-expanded="false">
                {f:translate(key: 'searchResults_sort', extensionName: 'liszt_common')}
            </button>
            <ul class="dropdown-menu">
                <f:variable name="isFulltext" value="{f:if(condition: searchParams.searchText, then: 1, else: 0)}" />
                <f:variable name="hasSelectedSort" value="{f:if(condition: searchParams.sort, then: 1, else: 0)}" />
                <f:for each="{settings.entityTypes.1.sortings}" as="sorting" key="key">
                    <f:if condition="{sorting.fulltext}">
                        <f:then>
                            <f:if condition="{isFulltext}">
                                <li>
                                    <f:variable name="isActive" value="{f:if(condition: '{searchParams.sort} == {sorting.label}', then: 1, else: '{f:if(condition: \'{hasSelectedSort} == 0 && {sorting.defaultFulltext}\', then: 1, else: 0)}')}"/>
                                    <f:variable name="linkArguments">{lc:searchParams(action: 'add', searchParamsArray: searchParamsFromFirstPage, key: 'sort', value: sorting.label)}</f:variable>
                                    <a href="{lc:searchUri(searchParams: linkArguments.searchParams)}"
                                       {f:if(condition:'{isActive}',then:'aria-current="true"')}
                                    class="dropdown-button-item {f:if(condition: isActive, then: 'active')}"
                                    >
                                    {f:translate(key: '{languageFilePath}:{sorting.label}', default: '{sorting.label}')}
                                    </a>
                                </li>
                            </f:if>
                        </f:then>
                        <f:else>
                            <li>
                                <f:variable name="isActive" value="{f:if(condition: '{searchParams.sort} == {sorting.label}', then: 1, else: '{f:if(condition: \'{hasSelectedSort} == 0 && {sorting.default} && {isFulltext} == 0\', then: 1, else: 0)}')}"/>
                                <f:variable name="linkArguments">{lc:searchParams(action: 'add', searchParamsArray: searchParamsFromFirstPage, key: 'sort', value: sorting.label)}</f:variable>
                                <a href="{lc:searchUri(searchParams: linkArguments.searchParams)}"
                                   {f:if(condition:'{isActive}',then:'aria-current="true"')}
                                class="dropdown-button-item {f:if(condition: isActive, then: 'active')}"
                                >
                                    {f:translate(key: '{languageFilePath}:{sorting.label}', default: '{sorting.label}')}
                                </a>
                            </li>
                        </f:else>
                    </f:if>
                </f:for>
            </ul>
        </div>

    <button class="filter-toggler btn btn-black" type="button" data-bs-toggle="offcanvas" data-bs-target="#filter-container" aria-controls="filter-container">
        <i:icon iconfig="lzicon,filter" preferredRenderTypes="svgSprite" additionalAttributes="{aria-hidden:'true'}" />  {f:translate(key: 'filter_container_label', extensionName: 'liszt_common')}
    </button>
    </div>


    <f:if condition="{searchParams.filter}">
        <div class="searchresults-filtertags" aria-label="{f:translate(key: 'searchResults_params_label', extensionName: 'liszt_common')}" role="navigation">
            <f:for each="{searchParams.filter}" key="key" as="filterParam">
                <f:for each="{filterParam}" key="innerKey" as="value">
                    <span class="searchresults-filtertags-tag {key} filter-tag-value-{value}">
                      <f:if condition="{innerKey} == 'gte' || {innerKey} == 'lte'">
                          <f:then>
                             <span>
                            <f:if condition="{innerKey} == 'gte'">&gt;</f:if>
                            <f:if condition="{innerKey} == 'lte'">&lt;</f:if>
                            {value}
                            </span>
                          </f:then>
                          <f:else>
                            <span>{f:translate(key: '{languageFilePath}:{key}_{innerKey}', default: '{innerKey}')}</span>
                          </f:else>
                      </f:if>
                    <f:variable name="linkArguments">{lc:searchParams(action: 'removeFilter', searchParamsArray: searchParamsFromFirstPage, key: key, value: innerKey)}</f:variable>
                     <a href="{lc:searchUri(searchParams: linkArguments.searchParams)}" type="button" class="tag-cross">
                        <span class="visually-hidden">{f:translate(key: 'searchResults_params_remove_label', arguments: {0: innerKey}, extensionName: 'liszt_common')}</span>
                        <svg aria-hidden="true" stroke="currentColor" fill="none" viewBox="0 0 8 8">
                            <path stroke-linecap="round" stroke-width="1" d="M1 1l6 6m0-6L1 7"></path>
                        </svg>
                    </a>
                    </span>
                </f:for>
            </f:for>
        </div>
    </f:if>
</div>


<aside class="sidebar">
    <nav class="filter-container offcanvas offcanvas-end" id="filter-container" aria-label="{f:translate(key: 'filter_container_label', extensionName: 'liszt_common')}" >
        <div class="offcanvas-header">
            <h5 class="offcanvas-title">{f:translate(key: 'filter_container_label', extensionName: 'liszt_common')}</h5>
            <button type="button" class="btn-close " data-bs-dismiss="offcanvas" aria-label="{f:translate(key: 'filter_container_close', extensionName: 'liszt_common')}">
                <i:icon iconfig="lzicon,close" preferredRenderTypes="svgSprite" additionalAttributes="{aria-hidden:'true'}" />
            </button>
        </div>
        <div class="offcanvas-body">
        <f:for each="{searchResults.aggregations}" key="key" as="filterGroup">
                <f:render partial="FilterBlock" arguments="{key: key, filterGroup: filterGroup, searchParams: searchParams, languageFilePath: languageFilePath}" />
        </f:for>
        </div>
    </nav>
</aside>
<div class="content grid-colspan-lg-3 grid-colspan-md-2">
    <div class="frame">
        <f:comment>ToDo: later distinguish here in which index is searched and thus select the partial of the extension </f:comment>
        <f:variable name="extensionName" value="bibliography" />
        <f:variable name="SearchResultItemPartialName" value="SearchResultItem-{extensionName}" />
        <f:for each="{searchResults.hits.hits}" as="hit">
        <f:render partial="{SearchResultItemPartialName}" arguments="{hit: hit, detailPageId: detailPageId}" />
    </f:for>
    <f:if condition="{showPagination}">
        <f:render partial="Pagination" arguments="{pagination: pagination, searchParams: searchParams, currentString: currentString, dots: dots}" />
    </f:if>
    </div>
</div>
</f:else>
</f:if>
