{namespace lw=Slub\LisztCommon\ViewHelpers}
<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">


<f:comment>ToDo: viewHelper for SearchParams</f:comment>
<section id="content" class="searchbar">
<f:debug>{_all}</f:debug>
    <div class="container-xl">

        <f:form name="searchBar" controller="Search" action="index" method="get" extensionName="liszt_common" class="form-inline">
            <div class="input-group mb-3">

                <f:form.textfield name="searchParams[searchText]" value="{searchParams.tx_liszt_common_searchlisting.searchParams.searchText}" class="form-control no-shadow" aria="{label:'Text input with dropdown button'}" placeholder="" />
                <f:form.button class="btn btn-outline-dark" id="button-searchBar">{f:translate(key: 'searchButtonLabel', extensionName: 'liszt_common')}</f:form.button>
            </div>
        </f:form>


    </div>
</section>
</html>
