{namespace lw=Slub\LisztCommon\ViewHelpers}
<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:debug>{_all}</f:debug>
<f:comment>ToDo: viewHelper for SearchParams</f:comment>
<section id="searchBar" class="searchbar">
    <div class="container-xl">

        <f:form name="searchBar" controller="Search" action="index" method="get" extensionName="liszt_common" pluginName="SearchListing" class="form-inline" pageUid="18">
            <div class="input-group">
                <f:form.textfield type="text" name="searchParams[searchText]" value="{searchParams.searchText}" class="" aria="{label:'Text input with dropdown button'}" placeholder="{f:translate(key: 'searchbar_placeholder', extensionName: 'liszt_common')}" />
                <f:form.button class="btn btn-black" id="button-searchBar">{f:translate(key: 'searchButtonLabel', extensionName: 'liszt_common')}</f:form.button>
            </div>
        </f:form>

    </div>
</section>
</html>
