<html
    data-namespace-typo3-fluid="true"
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:vac="http://typo3.org/ns/Praetorius/ViteAssetCollector/ViewHelpers"
>


<f:layout name="Default"/>


<f:section name="Main">

    <f:comment>
        disable insert searchbar as simple partial because ViewHelper f:form can be used only in extbase context
        <f:render partial="SearchBar" arguments="{_all}" />
    </f:comment>

    <f:if condition="{f:cObject(typoscriptObjectPath: 'lib.hasContent', data: '{colPos: 0}')}">
            <main role="main" id="page-content">
                <div class="container-xl sidebar-left grid grid-3col-lg">
                        {f:cObject(typoscriptObjectPath: 'lib.dynamicContent', data: '{colPos: 0, slide: -1, max: 1}')}
                </div>
            </main>
        </f:if>

    </f:section>


<f:section name="FooterAssets">
    <vac:asset.vite entry="EXT:liszt_web/Resources/Private/app.js"/>
</f:section>


</html>
