<html
    data-namespace-typo3-fluid="true"
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:vac="http://typo3.org/ns/Praetorius/ViteAssetCollector/ViewHelpers"
>


<f:layout name="Default"/>

<f:section name="Main">

    <f:if condition="{layout} == 'searchResults'">
        <div class="container-xl testversion-disclaimer-container">
            <div class="testversion-disclaimer">
                <h3>Testversion</h3>
                <p>Die Bibliografie befindet sich derzeit im Aufbau und wird fortlaufend ergänzt und überprüft.<br />Wir freuen uns über Hinweise zu Addenda und Corrigenda per <f:link.email class="arrow-right-after" email="sophia.zeil-bonk@slub-dresden.de">Mail</f:link.email></p>
            </div>
        </div>
    </f:if>

    <f:cObject typoscriptObjectPath="tt_content.list.20.lisztcommon_searchbar" />

    <f:if condition="{f:cObject(typoscriptObjectPath: 'lib.hasContent', data: '{colPos: 0}')}">
            <main role="main" id="page-content">
                <div class="container-xl sidebar-right grid grid-4col-lg grid-3col-md searchresults">
                        {f:cObject(typoscriptObjectPath: 'lib.dynamicContent', data: '{colPos: 0, slide: -1, max: 1}')}
                </div>
            </main>
        </f:if>

    </f:section>


<f:section name="FooterAssets">
    <vac:asset.vite entry="EXT:liszt_web/Resources/Private/app.js"/>
</f:section>


</html>
